@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and 엣지 */
  scrollbar-width: none;  /* 파이어폭스 */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  .navigate-push-enter {
    transform: translateX(100%);
  }
  
  .navigate-push-enter-active {
    z-index: 1;
    transform: translateX(0);
    transition: transform 200ms ease-in-out;
  
    box-shadow: -5px 0px 25px rgba(0, 0, 0, 0.05);
  }
  
  .navigate-push-exit {
    transform: translateX(0);
  }
  
  .navigate-push-exit-active {
    transform: translateX(-20%);
    transition: transform 200ms ease-in-out;
  }
  
  .transition-wrapper {
    position: relative;
    width: 100vw;
  }
  
  .navigate-pop-enter {
    transform: translateX(-100%);
  }
  
  .navigate-pop-enter-active {
    z-index: 1;
    transform: translateX(0);
    transition: transform 200ms ease-in-out;
  
    box-shadow: -5px 0px 25px rgba(0, 0, 0, 0.05);
  }
  
  .navigate-pop-exit {
    transform: translateX(0);
  }
  
  .navigate-pop-exit-active {
    transform: translateX(20%);
    transition: transform 200ms ease-in-out;
  }
  
  
}

